
.buttons__button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;

  background-color: var(--button-background-color);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;

  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);

  &:hover, &:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: var(--button-shadow);
  }
}

.buttons {
  margin-bottom: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons__item + .buttons__item {
  margin-left: 8px;
}