/* team section */

.team-section {
  background-color: var(--button-background-color);

  padding-bottom: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

/* team cards */

.team-list__card {
  background-color: var(--white-color);
  box-shadow:var(--shadow-color);
  border-radius: 0px 0px 4px 4px;

  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__name {
  margin: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
}

.team-list__name,
.team-list__prof {
  font-size: 16px;
  line-height: 1.19;
}

img {
  display: block;
}

.team-links {
  margin: 16px 32px 0px 32px;
}
 
.icon-list__link {
  display: inline-block;

  background-color: var(--white-color);
  fill: var(--icon-color);

  border-radius: 50%;
  padding: 12px;
  width: 44px;
  height: 44px;

  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);

  &:hover, :focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
  }
}